<div class="home">
  <img src="assets/homeImage.jpg" alt="Logo">
  <div class="home-body">
    <span class = "home-bold"> Boost up your career</span>
    <span class = "home-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</span>
    <button type="button" class = "apply-button" [routerLink]="['/training-internship']">Courses</button>
  </div>
</div>
